{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "api": "./src/api",
          "hocs": "./src/hocs",
          "components": "./src/components",
          "app-constants": "./src/app-constants",
          "contexts": "./src/contexts",
          "data": "./src/data",
          "enums": "./src/enums",
          "hooks": "./src/hooks",
          "providers": "./src/providers",
          "routes": "./src/routes",
          "styles": "./styles",
          "useApis": "./src/useApis",
          "utils": "./src/utils"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}