// Project variables and Mixins
@import 'variables';
@import 'mixins';
@import 'select';

// Main Styles
main {
  min-height: 100vh;
  padding-top: 91px;
  padding-bottom: 112px;
}
.header {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.header2 {
  font-size: 15px;
  font-style: oblique;
  font-family: "Open Sans", sans-serif;
}
.title {
  font-weight: normal;
  letter-spacing: 1.1px;
}

#__next {
  display: flex;
  height: 100vh;
}

.layout {
  min-height: 100vh;

  .ant-layout-content {
    padding: 0 50px;
  }

  .content-body {
    background: #fff;
    padding: 24px;
    height: 70vh;
  }

  .ant-layout-footer {
    text-align: center;
  }
  .ant-layout-header {
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    background:rgb(74, 143, 221);
}
}